@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 220 100% 99%;
    --foreground: 215 41% 16%;
    --card: 220 100% 99%;
    --card-foreground: 215 41% 16%;
    --popover: 220 100% 99%;
    --popover-foreground: 215 41% 16%;
    --primary: 247 100% 68%;
    --primary-foreground: 220 100% 99%;
    --secondary: 215 30% 93%;
    --secondary-foreground: 215 41% 26%;
    --muted: 215 30% 95%;
    --muted-foreground: 215 25% 55%;
    --accent: 342 100% 74%;
    --accent-foreground: 215 41% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 87%;
    --input: 215 20% 87%;
    --ring: 247 100% 68%;
    --radius: 0.75rem;

    --gradient: linear-gradient(90deg, hsl(var(--primary)), hsl(193 100% 50%));
  }

  .dark {
    --background: 215 41% 10%;
    --foreground: 220 100% 99%;
    --card: 215 41% 10%;
    --card-foreground: 220 100% 99%;
    --popover: 215 41% 10%;
    --popover-foreground: 220 100% 99%;
    --primary: 247 100% 68%;
    --primary-foreground: 220 100% 99%;
    --secondary: 215 30% 20%;
    --secondary-foreground: 215 41% 80%;
    --muted: 215 30% 22%;
    --muted-foreground: 215 25% 65%;
    --accent: 342 100% 74%;
    --accent-foreground: 220 100% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20% 27%;
    --input: 215 20% 27%;
    --ring: 247 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
